TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_client_id
GUILD_ID=your_test_guild_id
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-1.5-flash
TTS_LANG=it
TTS_SLOW=false
BOT_NAME=LegoChrisBot
PRESENCE_STATUS=online
ACTIVITY_TYPE=WATCHING
ACTIVITY_TEXT=🧱 | I Mattoncini di LegoChris
STAFF_ROLE_ID=your_staff_role_id
HIGH_STAFF_ROLE_ID = your_high_staff_role_id